torch
torchvision
numpy
tqdm==4.64.0
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
opencv-python==4.6.0.66
h5py==3.6.0
wandb==0.12.18
matplotlib==3.8.2
prettytable
efficientnet-pytorch==0.7.1
einops==0.7.0
warmup-scheduler
diffusers==0.11.1
lmdb 
vit-pytorch==1.6.5
positional-encodings
tensorflow
tensorflow_datasets


